h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton';
    font-style: italic;
}

h3 {
    font-size: 53px;
}


#main-page {
    background-image: url('/Gymness/HomePage/imgs/GymnessBackground.jpeg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    font-style: normal;
    /* Set font style to normal */
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}

h1 {
        font-style: normal;
}
main {
    position: relative;
    background-color: black;
    color: white;
    /* Make main content appear on top of the background image */
    height: calc(100vh - 60px);
    /* Adjust height of main section (subtracting header height) */
    overflow-y: auto;
    /* Add vertical scroll if content overflows */
}

h2,h3,h4 {
    color: yellow;
}

#section1 h2{
    font-size: 101px;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    /* Set height to 80% of viewport height */
    padding-bottom: 50px;
    /* Adjust bottom padding as needed */
    position: relative;
    /* Add position relative */
}

h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
    /* Add some space between h2 and button */
}

.button-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: yellow;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
    /* Change the hover background color */
}

header {
    float: left;
}

h1 {
    color: white;
    font-size: medium;
}

footer {
    background-color: yellow;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 3;
    /* Make footer appear on top of main content */
}

.mailing-addresses {
    display: flex;
    justify-content: flex-end;
    /* Align to the right */
    margin-right: 20px;
    /* Add some right margin */
}

.mailing-addresses div {
    width: 45%;
    /* Adjust as needed */
    text-align: left;
}