body {
    background-image: url('/Users/hamzamusa/Desktop/GymnessLocal/Gymness/GymnessBackground.jpeg');
    background-size: cover;
}

header {
    float: left;
}

h1 {
    color: white;
    font-size: medium;
}

h2 {
    color: white;
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 450px;
}

.button-container {
    text-align: center;
    /* Center the button horizontally */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    /* You can change the background color as needed */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
    /* Change the hover background color */
}
span {
    color: yellow;
}